**/.DS_Store
.classpath
.project
.settings
.gradle
/nbproject/**
/build/**
bin/**

/.gradle/
/bin/

/output/
/out/

# don't commit the autobuilt version file
src/main/resources/version.txt

# H2 database files
**/*.mv.db
**/*.trace.db

# VS Code launch settings
.vscode/launch.test.json
.vscode/launch.json
.vscode/settings.json
/build/

src/main/resources/map.json

src/main/resources/terminology/valuesets-EXM105-8.2.000-bundle.json
src/main/resources/terminology/valuesets-EXM104-8.2.000-bundle.json
src/main/resources/terminology/valuesets-EXM111-9.1.000-bundle.json
src/main/resources/terminology/valuesets-EXM124-8.2.000-bundle.json
src/main/resources/terminology/valuesets-EXM124-9.0.000-bundle.json
src/main/resources/terminology/valuesets-EXM108-8.3.000-bundle.json
src/main/resources/terminology/valuesets-EXM130-7.3.000-bundle.json
src/main/resources/terminology/valuesets-EXM149-9.2.000-bundle.json
src/main/resources/terminology/valuesets-EXM153-9.2.000-bundle.json
src/main/resources/terminology/valuesets-EXM125-7.3.000-bundle.json
src/main/resources/terminology/valuesets-EXM347-4.3.000-bundle.json
src/main/resources/terminology/valuesets-EXM347-3.2.000-bundle.json
src/main/resources/terminology/valuesets-EXM506-2.2.000-bundle.json
src/main/resources/terminology/valuesets-EXM529-1.0.000-bundle.json
src/main/resources/terminology/valuesets-EXM74-10.2.000-bundle.json
src/main/resources/terminology/valuesets-EXM349-2.10.000-bundle.json
